import data from csv file

In [1]:
import pandas as pd
import numpy as np

In [2]:
#to read data from external csv file
ipl=pd.read_csv('C:\\Users\\Rina1\\Downloads\\deliveries.csv')
ipl.head()#to view first 5 obsevervation

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [3]:
ipl.tail()#to view first 5 obsevervation

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

Q.1) Total runs of Virat Kohli (including all matches)

In [4]:
'V Kohli'in ipl['batsman'].unique() #to check observation is exist in data

True

In [5]:
data_Kohli=ipl[ipl['batsman']=='V Kohli']#access data of kohli from ipl data
total_runs=data_Kohli['batsman_runs'].sum() #sum() is inbuilt function to find sum of particular column
print('Total runs of Virat Kohli (including all matches) : ',total_runs)

Total runs of Virat Kohli (including all matches) :  4423

Q.2) Total wickets and their dismissal types by YS Chahal

In [6]:
'YS Chahal'in ipl['batsman'].unique()

True

In [7]:
data_Chahal=ipl[ipl['bowler']=='YS Chahal']#access data of chahal from ipl data
wickets=data_Chahal[data_Chahal['player_dismissed'].notnull()]#notnull() is inbuilt function gives non null values
total_wickets=wickets.loc[:,['player_dismissed','dismissal_kind']]#loc[] method used retrieve columns
print('Total wickets : {}'.format(wickets['player_dismissed'].count()))#count() is inbuilt function
total_wickets

Total wickets : 72

       player_dismissed dismissal_kind
94         MC Henriques         caught
1176      CR Brathwaite         bowled
1851           AR Patel         bowled
2822         KA Pollard         caught
4691           DR Smith         caught
...                 ...            ...
149282          KK Nair         caught
149306        SV Samson         caught
149348        Q de Kock         caught
149585         DR Smith         caught
150251         S Dhawan         caught

[72 rows x 2 columns]

Q.3) Top 3 runs scorers (all matches)

In [8]:
#method 1
Batsman=ipl['batsman'].unique()#to access names of all batsman
scorers={}#create empty dictionary
for i in range(len(Batsman)):
    data=ipl[ipl['batsman']==Batsman[i]]#to access data of each batsman
    scorers[Batsman[i]]=data['batsman_runs'].sum()#sum() is inbuilt function
    top={k:v for k,v in sorted(scorers.items(),key=lambda x:x[1],reverse=True)}#dictionarycomprehension
#sorted() is inbuilt method to sort data
print('Top 3 runs scorers are ')
c=1#initial count
for i,j in top.items():
    if c>3:
      break
    print(i,'  : ',j)
    c=c+1

Top 3 runs scorers are
SK Raina   :  4548
V Kohli   :  4423
RG Sharma   :  4207

In [9]:
#method 2 using group by method
data=ipl.groupby(['batsman'])['batsman_runs'].sum()#groupby is inbuilt method to group data using selected columns and rows
all_scorers={k:v for k,v in sorted(data.items(),key=lambda x:x[1],reverse=True)}
print('Top 3 run scorers are \n')
c=1 #initial count
for i,j in all_scorers.items():
    if c>3:
        break
    print(i,'  :  ',j)
    c=c+1

Top 3 run scorers are

SK Raina   :   4548
V Kohli   :   4423
RG Sharma   :   4207

Q.4) The highest total score of an inning

In [10]:
maximum=ipl.groupby(['match_id','inning'])['total_runs'].sum().max()#sum()&max() are inbuilt functions
print('The highest total score of an inning is : ',maximum)

The highest total score of an inning is :  263

Q.5) The average score per match of Virat Kohli

In [11]:
data=ipl[ipl['batsman']=='V Kohli']#access data of kohli from ipl data
total_runs=data['batsman_runs'].sum()
total_matches=data.loc[:,'match_id'].unique()
print('The average score per match of Virat Kohli : ',total_runs/len(total_matches))

The average score per match of Virat Kohli :  31.368794326241133

Q.6) The strike-rate of RG Sharma (Rohit Sharma)

In [12]:
data_Rohit=ipl[ipl['batsman']=='RG Sharma']#access data of rohit from ipl data
total_runs=data_Rohit['batsman_runs'].sum()
data_Rohit=data_Rohit[(data_Rohit['wide_runs']==0)&(data_Rohit['noball_runs']==0)]#to retrieve data with multiple condition
balls_played=data_Rohit['ball']
print('The strike-rate of RG Sharma (Rohit Sharma) is ',round((total_runs/len(balls_played))*100,2))

The strike-rate of RG Sharma (Rohit Sharma) is  131.35

Q.7) If a team scores 200+ in first innings, what is their probability of winning?

In [13]:
data=ipl.groupby(['match_id','inning'])['total_runs'].sum()#to find scores of each innings
total_matches=len(ipl['match_id'].unique())#to find total number of matches
for i in range(1,total_matches+1):
    if data[i][1]<200:
        data.pop(i)#pop() inbuilt method to delete particular observation whose 1st inning score is less than 200
data.pop(546) #because 2nd innings data of 546th match is missing
won=0#initial values
list=[k[0] for k in data.keys() ]#list comprehension
list=set(list) #convert list into set to store unique values
matches=len(list)
print('Total no.of matches where score of 1st inning is 200+ : ',matches)
for i in list:
    if data[i][1]>data[i][2]:
        won=won+1
print('Total no.of matches won after scoring 200+ in 1st inning : ',won)
lost=matches-won
print('Total no.of matches lost after scoring 200+ in 1st inning : ',lost)
p=(won/matches)*100
print('Probability of winning after scoring 200+ in 1st inning : ',round(p,2),'%')

Total no.of matches where score of 1st inning is 200+ :  49
Total no.of matches won after scoring 200+ in 1st inning :  42
Total no.of matches lost after scoring 200+ in 1st inning :  7
Probability of winning after scoring 200+ in 1st inning :  85.71 %