Q.what is filter in pandas write a program in python  pandas for filter

-Pandas dataframe.filter() function is used to Subset rows or columns of dataframe

according to labels in the specified index.

In [1]:
import pandas as pd
df=pd.read_csv('automobile_data.csv')#read_csv() inbuilt method to import data from file
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [2]:
#subset rows or columns from df
df.filter(['make','fuel-type','price'])#filter() inbuilt method to subset data

            make fuel-type  price
0    alfa-romero       gas  13495
1    alfa-romero       gas  16500
2    alfa-romero       gas  16500
3           audi       gas  13950
4           audi       gas  17450
..           ...       ...    ...
200        volvo       gas  16845
201        volvo       gas  19045
202        volvo       gas  21485
203        volvo    diesel  22470
204        volvo       gas  22625

[205 rows x 3 columns]